<div class="content">
  <center>
  <div class="title">
    <div id="doodle">
      <span></span>
      <a href="https://www.google.com/search?site=webhp&q=Harriet+Tubman&oi=ddle&ct=celebrating-harriet-tubman-5662556353986560-hp&hl=en"><img height="200" src="https://www.google.com/logos/doodles/2014/celebrating-harriet-tubman-5662556353986560-hp.jpg"/></a>
    </div>
  </div>
  
  <div class="content-box">
    <form action="#" method="get">
      <input type="text" name="query" id="search-box"/>
      <span id="search-mic"></span>
      <div id="search-buttons">
	<button type="submit" value="Google Search">
	<span>Google Search</span>
	</button>
	<button type="submit" value="">
	  <span>I'm Feeling Lucky</span>
	</button>
      </div>
    </form>
  </div>
  </center>
  
</div>
